<h2>Template: <small> Dinámicos </small></h2>
<hr>

<form autocomplete="off" #myForm="ngForm" (ngSubmit)="submit()">
<div class="mb-3 row">
    <label class="col-sm3 col-form-label">Nombre</label>
    <div class="col-sm-9">
        <input type="text" 
                class="form-control"
                placeholder="Nombre de la persona"
                minlength="4"
                name="name"
                [(ngModel)]="person.name"
                required>
                <span class="form-text text-danger">
                    Este campo es obligatorio
                </span>
    </div>
</div>

<!-- Agregar Favorito -->
<div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">

        <div class="input-group">
            <input class="form-control"
                   placeholder="Agregar favorito" name="name" #name>

            <button class="btn btn-outline-primary"
                    type="button" (click)="add(name.value)">
                Agregar
            </button>
        </div>
    </div>
</div>


<!-- Lista de Juegos Favoritos -->
@for (favourite of person.favourites; track favourite.id) {

    
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
    
            <div class="input-group mb-1">
                <input name="favourite-{{favourite.id}}" class="form-control" [(ngModel)]="favourite.name">
    
                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="delete(favourite.id)">
                   Eliminar
               </button>
            </div>
    
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary float-end" [disabled]="myForm.invalid">Guardar</button>
    </div>
</div>

</form>

<div>
    <pre>{{person|json}}</pre>
</div>